@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?5uysoj');
	src:url('fonts/icomoon.eot?#iefix5uysoj') format('embedded-opentype'),
		url('fonts/icomoon.woff?5uysoj') format('woff'),
		url('fonts/icomoon.ttf?5uysoj') format('truetype'),
		url('fonts/icomoon.svg?5uysoj#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* timeline styles */
	width: 40px;
    height: 40px;
    line-height: 40px;
	position: absolute;
    color: #fff;
    background: #46a4da;
    border-radius: 50%;
    box-shadow: 0 0 0 8px #afdcf8;
    text-align: center;
    left: 20%;
    top: 0;
    margin: 0 0 0 -25px;
}
@media screen and (max-width: 47.2em) {
	[class^="icon-"], [class*=" icon-"] {
    	position: relative;
        float: right;
        left: auto;
        margin: -55px 5px 0 0px;
    }
}
.icon-calendar:before {
	content: "\e113";
}
.icon-user-cancel2:before {
	content: "\e000";
}
.icon-user-minus3:before {
	content: "\e001";
}
.icon-users3:before {
	content: "\e002";
}
.icon-user2:before {
	content: "\e003";
}
.icon-user-plus3:before {
	content: "\e004";
}
.icon-coins-remove:before {
	content: "\e005";
}
.icon-coins:before {
	content: "\e006";
}
.icon-user3:before {
	content: "\e007";
}
.icon-tools:before {
	content: "\e008";
}
.icon-stack-list:before {
	content: "\e009";
}
.icon-stack2:before {
	content: "\e00a";
}
.icon-smiley:before {
	content: "\e00b";
}
.icon-remove2:before {
	content: "\e00c";
}
.icon-remove:before {
	content: "\e00d";
}
.icon-plus2:before {
	content: "\e00e";
}
.icon-pencil2:before {
	content: "\e00f";
}
.icon-mouse2:before {
	content: "\e010";
}
.icon-minus2:before {
	content: "\e011";
}
.icon-minus:before {
	content: "\e012";
}
.icon-mail-send:before {
	content: "\e013";
}
.icon-keyhole:before {
	content: "\e014";
}
.icon-key2:before {
	content: "\e015";
}
.icon-home6:before {
	content: "\e016";
}
.icon-home3:before {
	content: "\e017";
}
.icon-home2:before {
	content: "\e018";
}
.icon-checkmarks-2:before {
	content: "\e019";
}
.icon-factory:before {
	content: "\e01a";
}
.icon-exit3:before {
	content: "\e01b";
}
.icon-enter3:before {
	content: "\e01c";
}
.icon-Direct_Debit:before {
	content: "\e01d";
}
.icon-cube2:before {
	content: "\e01e";
}
.icon-credit:before {
	content: "\e01f";
}
.icon-checkmark2:before {
	content: "\e020";
}
.icon-checkmark-22:before {
	content: "\e021";
}
.icon-notification:before {
	content: "\e022";
}
.icon-calculate2:before {
	content: "\e023";
}
.icon-bubble-user:before {
	content: "\e024";
}
.icon-basketball:before {
	content: "\e025";
}
.icon-balance:before {
	content: "\e026";
}
.icon-arrow-right2:before {
	content: "\e027";
}
.icon-arrow-left:before {
	content: "\e028";
}
.icon-coins-add:before {
	content: "\e029";
}
.icon-location:before {
	content: "\e02a";
}
.icon-accessibility2:before {
	content: "\e02b";
}
.icon-book2:before {
	content: "\e02c";
}
.icon-briefcase:before {
	content: "\e02d";
}
.icon-bus:before {
	content: "\e02e";
}
.icon-certificate:before {
	content: "\e02f";
}
.icon-checkmark-circle:before {
	content: "\e030";
}
.icon-contact-add2:before {
	content: "\e031";
}
.icon-credit-2:before {
	content: "\e032";
}
.icon-download2:before {
	content: "\e033";
}
.icon-feed3:before {
	content: "\e034";
}
.icon-file8:before {
	content: "\e035";
}
.icon-file-excel:before {
	content: "\e036";
}
.icon-file-pdf:before {
	content: "\e037";
}
.icon-file-word:before {
	content: "\e038";
}
.icon-mobile:before {
	content: "\e039";
}
.icon-new:before {
	content: "\e03a";
}
.icon-remove2-2:before {
	content: "\e03b";
}
.icon-tablet:before {
	content: "\e03c";
}
.icon-twitter2:before {
	content: "\e03d";
}
.icon-youtube:before {
	content: "\e03e";
}
.icon-pencil3:before {
	content: "\e63e";
}
.icon-home9:before {
	content: "\e63f";
}
.icon-copy2:before {
	content: "\e640";
}
.icon-phone:before {
	content: "\e641";
}
.icon-drawer3:before {
	content: "\e642";
}
.icon-user:before {
	content: "\e643";
}
.icon-expand:before {
	content: "\e644";
}
.icon-hammer2:before {
	content: "\e645";
}
.icon-earth:before {
	content: "\e646";
}
.icon-star4:before {
	content: "\e647";
}
.icon-shuffle:before {
	content: "\e649";
}
.icon-arrow-up2:before {
	content: "\e64a";
}
.icon-arrow-down2:before {
	content: "\e64b";
}
.icon-arrow-first:before {
	content: "\e64c";
}
.icon-arrow-right:before {
	content: "\e64d";
}
