body {
  position: relative; }

.affix {
  top: 20px; }
  @media (min-width: 992px) {
    .affix {
      width: 213px; } }
  @media (min-width: 1200px) {
    .affix {
      width: 263px; } }

@media (min-width: 992px) {
  .affix-top {
    width: 213px; } }
@media (min-width: 1200px) {
  .affix-top {
    width: 263px; } }

.example {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  overflow: hidden;
  border: 1px solid #bfc1c3;
  margin-top: 15px;
  margin-bottom: 45px;
  padding-top: 30px;
  padding-bottom: 15px; }
  .example:before {
    content: "EXAMPLE";
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.21053em 0.78947em 0.21053em 0.78947em;
    font-family: "nta", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    font-weight: 400;
    text-transform: none;
    background: #bfc1c3;
    color: white; }
  .example .ribbon {
    background-color: #85994b;
    overflow: hidden;
    position: absolute;
    right: -50px;
    top: 40px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    color: #FFF;
    display: block;
    font-weight: bold;
    font-size: 16px;
    padding: 3px 50px; }

.swatch {
  width: 60px;
  height: 60px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  margin: 0 auto 15px auto; }
  .swatch.swatch-text-color {
    background-color: #0b0c0c; }
  .swatch.swatch-sec-text-color {
    background-color: #6c6c6c; }
  .swatch.swatch-link-color {
    background-color: #005ea5; }
  .swatch.swatch-link-hover-color {
    background-color: #2e8aca; }
  .swatch.swatch-border-color {
    background-color: #bfc1c3; }
  .swatch.swatch-panel-color {
    background-color: #dee0e2; }
  .swatch.swatch-button-color {
    background-color: #00823b; }
  .swatch.swatch-button-hover-color {
    background-color: #006435; }
  .swatch.swatch-focus-color {
    background-color: #ffbf47; }
  .swatch.swatch-light-blue {
    background-color: #00a1c1; }
  .swatch.swatch-dark-blue {
    background-color: #04476f; }
  .swatch.swatch-dark-grey {
    background-color: #505253; }
  .swatch.swatch-purple {
    background-color: #4f2683; }
  .swatch.swatch-deep-green {
    background-color: #008566; }
  .swatch.swatch-orange {
    background-color: #ff5800; }
  .swatch.swatch-raspberry {
    background-color: #ca005d; }
  .swatch.swatch-deep-pink {
    background-color: #830051; }
  .swatch.swatch-lavendar {
    background-color: #6773b6; }
  .swatch.swatch-plain-text {
    background-color: #505253; }
  .swatch.swatch-navigation {
    background-color: #737373; }
  .swatch.swatch-plain-tabs {
    background-color: #f3f3f3; }
  .swatch.swatch-bright-green {
    background-color: #7ab800; }
  .swatch.swatch-gold {
    background-color: #f0ab00; }
  .swatch.swatch-sky-blue {
    background-color: #a1c6cf; }

.equal-test .col-xs-4 {
  border: 1px solid #ffbf47; }

/* timeline */
.cbp_tmtimeline {
  margin: 30px 0 0 0;
  padding: 0;
  list-style: none;
  position: relative; }

/* The line */
.cbp_tmtimeline:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10px;
  background: #afdcf8;
  left: 20%;
  margin-left: -10px; }

.cbp_tmtimeline > li {
  position: relative; }

/* The date/time */
.cbp_tmtimeline > li .cbp_tmtime {
  display: block;
  width: 25%;
  padding-right: 100px;
  position: absolute; }

.cbp_tmtimeline > li .cbp_tmtime span {
  display: block;
  text-align: right; }

.cbp_tmtimeline > li .cbp_tmtime span:first-child {
  font-size: 0.9em;
  color: #bdd0db; }

.cbp_tmtimeline > li .cbp_tmtime span:last-child {
  font-size: 1.7em;
  color: #3594cb; }

/*@media(min-width: )*/
.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
  color: #6cbfee; }

/* Right content */
.cbp_tmtimeline > li .cbp_tmlabel {
  margin: 0 0 15px 25%;
  background: #3594cb;
  color: #fff;
  padding: 2em;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.4;
  position: relative;
  border-radius: 0px; }

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
  background: #6cbfee; }

.cbp_tmtimeline > li .cbp_tmlabel h2 {
  margin-top: 0px;
  padding: 0 0 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4); }

/* The triangle */
.cbp_tmtimeline > li .cbp_tmlabel:after {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: #3594cb;
  border-width: 10px;
  top: 10px; }

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
  border-right-color: #6cbfee; }

/* The icons */
.cbp_tmtimeline > li .cbp_tmicon {
  width: 40px;
  height: 40px;
  font-family: 'ecoico';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 1.4em;
  line-height: 40px;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  color: #fff;
  background: #46a4da;
  border-radius: 50%;
  box-shadow: 0 0 0 8px #afdcf8;
  text-align: center;
  left: 20%;
  top: 0;
  margin: 0 0 0 -25px; }

.cbp_tmicon-phone:before {
  content: "\e000"; }

.cbp_tmicon-screen:before {
  content: "\e001"; }

.cbp_tmicon-mail:before {
  content: "\e002"; }

.cbp_tmicon-earth:before {
  content: "\e003"; }

/* Example Media Queries */
@media screen and (max-width: 65.375em) {
  .cbp_tmtimeline > li .cbp_tmtime span:last-child {
    font-size: 1.5em; } }
@media screen and (max-width: 47.2em) {
  .cbp_tmtimeline:before {
    display: none; }

  .cbp_tmtimeline > li .cbp_tmtime {
    width: 100%;
    position: relative;
    padding: 0 0 20px 0; }

  .cbp_tmtimeline > li .cbp_tmtime span {
    text-align: left; }

  .cbp_tmtimeline > li .cbp_tmlabel {
    margin: 0 0 30px 0;
    padding: 1em;
    font-weight: 400;
    font-size: 95%; }

  .cbp_tmtimeline > li .cbp_tmlabel:after {
    right: auto;
    left: 20px;
    border-right-color: transparent;
    border-bottom-color: #3594cb;
    top: -20px; }

  .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
    border-right-color: transparent;
    border-bottom-color: #6cbfee; }

  .cbp_tmtimeline > li .cbp_tmicon {
    position: relative;
    float: right;
    left: auto;
    margin: -55px 5px 0 0px; } }
