html {
	overflow-x: hidden;
	-ms-overflow-style: scrollbar;
}

// Clearfix 
.cf:before,
.cf:after {
    content: " "; 
    display: table; 
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

// Bootstrap alpha & omega classes
// For row

.row.alpha {
	margin-left: 0;
}

.row.omega {
	margin-right: 0;
}




/* So we can have a fixed column for navigation and use bootstraps fluid scaling */

$colFixedWidth: 240px;
$colFixedWidthCollapsed: 240px;

.col-fixed {
	width: $colFixedWidth; /* See variables.scss */
	float: left;
	background: #666;
}

.col-fixed-collapsed {
	width: $colFixedWidthCollapsed; /* See variables.scss */
	float: left;
}

.col-content {
	min-height: 2000px;
	background: #ccc;
	width:calc(100% - #{$colFixedWidth}); 
	float: right;
}

.col-content-expanded {
	width:calc(100% - 35px);
	position: absolute;
	top: 0;
	right: 0;
}

.e-topbar {
	background: #DDD;
}


/* UI container - the building block of the application */



.ui-container {


	.ui-c-header {

	}

	.ui-c-config-control {
		text-align: right;
	}

	h2 {
		display: inline;
	}

	.ui-c-maincontent {
		
	}

	.ui-c-band {

	}

	.ui-c-content {
		
	}

}

/* Moveable items */
.move-handler:hover {
	cursor: move;
}

/* Breadcrumb */

.e-breadcrumb {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.e-breadcrumb > li {
    display: inline-block;
}

.e-breadcrumb > li + li:before {
    content: "/ ";
    padding: 0 4px;
    color: #bbb;
}

/* Username */

.username-area {
	text-align: right;
}
