body {
	background: #36393f;
}

html {
	overflow-x: hidden;
	-ms-overflow-style: scrollbar;
}

// Clearfix 
.cf:before,
.cf:after {
    content: " "; 
    display: table; 
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

// Bootstrap alpha & omega classes
// For row

.row.alpha {
	margin-left: 0;
}

.row.omega {
	margin-right: 0;
}




/* So we can have a fixed column for navigation and use bootstraps fluid scaling */

$colFixedWidth: 260px;
$colFixedWidthCollapsed: 260px;
$colFixedBGcolor: #36393f;

.col-fixed {
	width: $colFixedWidth; /* See variables.scss */
	float: left;
	background: $colFixedBGcolor;
	border-right: 5px solid #2d3036;
}

.col-fixed-collapsed {
	width: $colFixedWidthCollapsed; /* See variables.scss */
	float: left;
}

.col-content {
	width:calc(100% - #{$colFixedWidth}); 
	float: right;
}

.col-content-expanded {
	width:calc(100% - 35px);
	position: absolute;
	top: 0;
	right: 0;
}

.e-topbar {
	background: #DDD;
}

/* Fixed header */
.navbar {
	min-height: 0px;
	border: none;
}
.navbar-fixed-top {
	left: auto;
	width:calc(100% - #{$colFixedWidth}); 
}


/* UI container - the building block of the application */



.ui-container {
	background: #2D3036;
	color: #fff;

	.ui-c-header {

	}

	.ui-c-config-control {
		text-align: right;
	}

	h2 {
		display: inline;
	}

	.ui-c-maincontent {
		
	}

	.ui-c-band {

	}

	.ui-c-content {
		
	}

}

/* Moveable items */
.move-handler:hover {
	cursor: move;
}

/* Breadcrumb */

.e-breadcrumb {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.e-breadcrumb > li {
    display: inline-block;
}

.e-breadcrumb > li + li:before {
    content: "/ ";
    padding: 0 4px;
    color: #bbb;
}

/* Username */

.username-area {
	text-align: right;
}

.el-header {
	height: 50px;
	background: #222529;
	color: #FFF;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
}

.el-header-inner {
	position: relative;
	height: 50px;
	width: 100%;
}

hr.el-hr { 
	border: 0;
	height: 0;
	border-top: 1px solid #111315;
	border-bottom: 1px solid #4e535c;
	clear: both;
	margin: 0;
}

hr.hr-header {
	position: relative;
	top: 50px;
	left: 0;
}