//
// Modals
// --------------------------------------------------

// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and shit


// Container that the modal scrolls within
.modal {

  // When fading in the modal, animate it to slide down
  &.fade .modal-dialog {
    @include translate3d(0, -25%, 0);
    @include transition-transform(0.3s ease-out);
  }
  &.in .modal-dialog { @include translate3d(0, 0, 0) }
}

// Actual modal
.modal-content {
  background-color: $modal-content-bg;
  border: 1px solid $modal-content-fallback-border-color; //old browsers fallback (ie8 etc)
  border: 1px solid $modal-content-border-color;
  @include box-shadow(0 3px 9px rgba(0,0,0,.5));
  background-clip: padding-box;
}

// Modal background
.modal-backdrop {
  background-color: $modal-backdrop-bg;
  // Fade for backdrop
  &.fade { @include opacity(0); }
  &.in { @include opacity($modal-backdrop-opacity); }
}

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
  border-bottom: 1px solid $modal-header-border-color;
}

// Footer (for actions)
.modal-footer {
  border-top: 1px solid $modal-footer-border-color;
  @include clearfix(); // clear it in case folks use .pull-* classes on buttons
}


// Scale up the modal
@media (min-width: $screen-sm-min) {

  .modal-content {
    @include box-shadow(0 5px 15px rgba(0,0,0,.5));
  }
}